* {
  box-sizing: border-box;
}

html,body {
  min-height: 100vh;
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
    font-family: "Montserrat", Comfortaa;
    box-sizing: border-box;
    background: url(https://drive.google.com/uc?export=view&id=1R4kLs3tz3cXebmTtEIav6B13FU7rvTGB);
    background-size: cover;
 /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  */
}


