

html,body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
    font-family: "Montserrat", Comfortaa;
    background: 
      
      url(https://drive.google.com/uc?export=view&id=1FqHvOg9w97yYQH6nJf0SOYcXs00nnP5c) repeat ;
     
     
  
 /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  https://drive.google.com/file/d/1OvatdWSTVi1zOtA11ULFjnqSf9mZ2Qxe/view?usp=sharing
  https://drive.google.com/uc?export=view&id=1OvatdWSTVi1zOtA11ULFjnqSf9mZ2Qxe
  https://drive.google.com/file/d/1FqHvOg9w97yYQH6nJf0SOYcXs00nnP5c/view?usp=sharing
  */
}


